<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Break Me!</title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
    <script type="text/javascript" src='./javascripts/game.js'></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
  </head>
  <body>
    <div class="gameDivContainer">
      <div id = "gameDiv">
      </div>
      </div>
      <div class = gameDivContainer>
        <h2 class = "developperName">By: Sidharth Nayyar</h2>
      </div>
  </body>
</html>
