body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black
}

a {
  color: #00B7FF;
}

.gameDivContainer {
  display: flex;
  -webkit-align-items: center;
  align-items: column;
  -webkit-justify-content: center;
  justify-content: center;
}

#gameDiv {

}
.developperEmail {
  color: white
}
.developperName {
  color: white;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;

}
